<div>

    <h2 translate="cafftrackApp.food.home.title">Food</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveFoodModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="cafftrackApp.food.home.createLabel">Create a new Food</span>
    </button>
    <div class="modal fade" id="saveFoodModal" tabindex="-1" role="dialog" aria-labelledby="myFoodLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="create()" show-validation>

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myFoodLabel" translate="cafftrackApp.food.home.createOrEditLabel">Create or edit a Food</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="food.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="cafftrackApp.food.name">Name</label>
                            <input type="text" class="form-control" name="name"
                                   ng-model="food.name" required ng-minlength="3">

                            <div ng-show="editForm.name.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.name.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.name.$error.minlength" translate="entity.validation.minlength" translate-value-min="3">
                                    This field is required to be at least 3 characters.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="cafftrackApp.food.caffeine">Caffeine</label>
                            <input type="number" class="form-control" name="caffeine"
                                   ng-model="food.caffeine" required>

                            <div ng-show="editForm.caffeine.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.caffeine.$error.required" translate="entity.validation.required">
                                    This field is required.
                                </p>
                                <p class="help-block"
                                   ng-show="editForm.caffeine.$error.number" translate="entity.validation.number">
                                    This field should be a number.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="cafftrackApp.food.description">Description</label>
                            <input type="text" class="form-control" name="description"
                                   ng-model="food.description">

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteFoodConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(food.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="cafftrackApp.food.delete.question" translate-values="{id: '{{food.id}}'}">Are you sure you want to delete this Food?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="cafftrackApp.food.name">Name</th>
                    <th translate="cafftrackApp.food.caffeine">Caffeine</th>
                    <th translate="cafftrackApp.food.description">Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="food in foods">
                    <td><a ui-sref="foodDetail({id:food.id})">{{food.id}}</a></td>
                    <td>{{food.name}}</td>
                    <td>{{food.caffeine}}</td>
                    <td>{{food.description}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="foodDetail({id:food.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(food.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(food.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pager">
                <li ng-show="links['first']" ng-click="loadPage(links['first'])"><a href="#">&lt;&lt;</a></li>
                <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a href="#">&lt;</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a href="#">&gt;</a></li>
                <li ng-show="links['last']" ng-click="loadPage(links['last'])"><a href="#">&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
